/**
修改UI组件样式
 */
@import "./variable.less";
.van-dialog__confirm {
  color: @color-theme
}
.van-picker__confirm {
  color: @color-theme
}
.van-picker__cancel {
  color: @color-theme
}
.van-icon-manager-o {
  position: absolute;
  top: 24px;
  right: 6px;
  font-size: 18px;
  color: #fff;
}
.van-icon-arrow-left {
  position: absolute;
  top: 22px;
  left: 4px;
  font-size: 20px;
  color: #fff
}