
@import "./mixin.less";

// 颜色定义规范
@color-background: #f4f4f4;  //背景色
@color-theme: #38bdd0;  //主题颜色

//字体定义规范
@font-size-small-s: 10px;
@font-size-small: 12px;
@font-size-medium: 14px;
@font-size-medium-x: 16px;
@font-size-large: 18px;
@font-size-large-x: 22px;

//高度定义规范
@header-title-height: 60px;
@header-footer-height: 50px;
@header-input-height: 44px;

//宽度定义规范
@card-theme-margin: 10px;

//重复的样式
.repeat-sign (@left: 70px) {
  transform: scale(.5);
  transform-origin: 0% top;
  background: #38bdd0;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: @left;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  text-align: center;
  .no-wrap()
}
.content-middle (@margin-top: 60px, @height: 100%) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @height;
  margin-top: @margin-top;
  background: #fff;
  text-align: center
}
